/* latin-ext */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 515;
  font-display: swap;
  src: url("/fonts/Quicksand.ttf") format('ttf');
}
body {
  background: #adb1bd;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand';
  font-weight: normal;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.5em;
}
.projects {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.projects li {
  float: left;
  width: 20%;
  display: block;
  background: #cacdd6;
  overflow: hidden;
  border-radius: 2em;
  padding: 1em;
  margin: 0 1.5em 3em;
  min-height: 10em;
  box-shadow: -1px -1px 1px 0 rgba(255,255,255,0.8), 20px 20px 40px 5px rgba(0,0,0,0.05), -20px -20px 40px 10px rgba(255,255,255,0.5);
}
.projects li a {
  color: #fff;
  text-decoration: none;
}
.projects li img {
  width: 100%;
  display: block;
  border-radius: 1.5em;
}
