@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'), url(/fonts/OpenSansCondensed-Light.woff2) format('woff2');
}
@font-face {
	font-family: 'Open Sans Condensed';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Open Sans Condensed Bold'), local('OpenSansCondensed-Bold'), url(/fonts/OpenSansCondensed-Bold.woff2) format('woff2');
}