.hero
	background rgb(52,62,68);
	background radial-gradient(circle, $lightblue 0%, $darkblue 100%)
	color #fff
	height 50vh
	position relative
	text-align center
	overflow hidden
	&:afer
		clearfix()
	strong
		color $green
	h1,h3
		font-size 1.5em
	h2
		font-size 2em
	h3
		margin-bottom .5em
.projects_teaser_container
	background #999
	&:after
		clearfix()
	a
		display block
		color #ffffff
		background #000000
		text-decoration none
		overflow hidden
		border-radius .5em
		box-shadow 10px 10px 10px 0px rgba(255,255,255,.1)
		&:after
			clearfix()
		.more
			margin-top 1em
			text-align right
.education
	background $darkblue
	color #f0f0f0
	ul:not(.achievements)
		> li
			border .3em solid $lightblue
			margin-bottom 1em
			padding 1em
			.institution
				color $lightblue
				margin 0
			.date
				display inline-block
				background $green
				padding .3em .6em
				border-radius .3em
				font-size .8em
			ul
				li
					margin-top .5em
				
