$lightblue = rgba(52,62,68,1)
$darkblue = rgba(15,23,27,1)
$green = #249858

$end_mobile = 767px
$start_tablet = 768px
$end_tablet = 1023px
$start_laptop = 1024px
$end_laptop = 1439px
$start_desktop = 1440px

clearfix()
	clear both
	display block
	visibility none
	content ' '
	height 0px