$headline_font = 'Open Sans Condensed', sans-serif
body
	font-family sans-serif
html
	background $lightblue
html,body,p,h1,h2,h3,h4,h5,h6,div,hr,span,ul,li,article,section,aside
	padding 0
	margin 0
	list-style-type none
	display block
img
	display block
	width 100%
h1,h2,h3,h4,h5,h6
	font-family $headline_font
	font-weight normal
h1
	font-size 3.5em
h2
	font-size 2.5em
h3
	font-size 1.5em
p
	margin-bottom 2em
section
	padding 3em 0
	&:after
		clearfix()