@require mixins
@require normalize
@require grid
@require fonts
@require frontpage
$headline_font = 'Quicksand'



.gutter
	padding 1em

/* Vertically and horizontally centered */
.vc
	position absolute
	top 50%
	left 50%
	transform translate(-50%, -50%)
.wrapper
	padding-left 1em
	padding-right 1em
	max-width 1280px
	margin auto